/* ---------ESTILOS GENERALES----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

/* ---------ESTILOS BODY----------*/
body{
    position: fixed;
    left:15%;
}
/* ---------ESTILOS BODY MEDIA QUERY----------*/

/* ---------ESTILOS HEADER----------*/
header{
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width: 15%;
    background-color: green;
}
/* ---------ESTILOS HEADER MEDIA QUERY----------*/

/* ---------ESTILOS MAIN----------*/
.valoraciones_clase{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hexagono{
    clip-path:polygon(25% 0%, 75% 0%, 100% 48%, 75% 100%, 25% 100%, 0% 50%);
    width: 20rem;
    height: 15rem;
    background-color: green;
    margin: 2rem;
    text-align: center;
}
/* ---------ESTILOS MAIN MEDIA QUERY----------*/

/* ---------ESTILOS FOOTER----------*/

/* ---------ESTILOS FOOTER MEDIA QUERY----------*/